In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
cwd = os.getcwd()
print("Current working directory is {}".format(cwd))

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.compose import make_column_selector as selector

from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s5e6/sample_submission.csv
/kaggle/input/playground-series-s5e6/train.csv
/kaggle/input/playground-series-s5e6/test.csv
Current working directory is /kaggle/working

## Data preprocessing

In [2]:
def sort_columns(df):
    return df.sort_index(axis=1)


def describe_data(df):
    ## Basic statistics
    describe = df.describe(include='all')
    info = df.info()  # Return None, print df.info() directly to console.
    null_count = df.isnull().sum()
    ## Unique values
    unique_count = df.nunique()
    sample_size = df.shape[0]
    unique_ratio = unique_count / sample_size
    ## print data descriptions
    print("\n====== df:\n")
    print(df)
    print("\n====== describe:\n")
    print(describe)
    print("\n======info: \n")
    print(df.info())
    print("\n====== null_count: \n")
    print(null_count)
    print("\n====== unique_count: \n")
    print(unique_count)
    print("\n====== unique_ratio: \n")
    print(unique_ratio)

    data_description = {
        "describe": describe,
        "info": info,
        "null_count": null_count,
        "unique_count": unique_count,
        "sample_size": sample_size,
        "unique_ratio": unique_ratio
    }
    return data_description


def drop_columns(df, cols_to_drop):
    df = df.drop(columns=[col for col in cols_to_drop if col in df.columns])
    return df   

def intersect_train_test_columns(train_df, test_df):
    ## Find common columns between train and test
    common_cols = train_df.columns.intersection(test_df.columns)
    ## Keep only those columns
    train_aligned = train_df[common_cols].copy()
    test_aligned = test_df[common_cols].copy()
    return train_aligned, test_aligned

######
## Don't ever use dummies for one-hot encoding. Big issue when doing online prediction with new data.
## pd.get_dummies() will mess up the one-hot positions.
## Use OneHotEncoder from scikit-learn instead.
######
# def category_to_onehot(df, **kwargs):
#     return pd.get_dummies(df, **kwargs)

def build_onehot_encoder(train_df):
    cat_cols = train_df.select_dtypes(include=['object', 'category', 'bool']).columns.tolist()

    onehot_encoder = ColumnTransformer(
        transformers=[
            ('cat', OneHotEncoder(handle_unknown='ignore', sparse_output=False), cat_cols)
        ],
        remainder='passthrough'
    )
    onehot_encoder.fit(train_df)
    return onehot_encoder

In [3]:
# Parameter settings
labels = ["Fertilizer Name"]

# Read inputs
train_df = pd.read_csv("../input/playground-series-s5e6/train.csv")
train_df_src = train_df.copy()
test_df = pd.read_csv("../input/playground-series-s5e6/test.csv")
test_df_src = test_df.copy()
sample_df = pd.read_csv("../input/playground-series-s5e6/sample_submission.csv")

In [4]:
# train_df
# test_df_src
sample_df.iloc[0, 1]

'14-35-14 10-26-26 Urea'

In [5]:
train_df_src

,id,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,0,37,70,36,Clayey,Sugarcane,36,4,5,28-28
1,1,27,69,65,Sandy,Millets,30,6,18,28-28
2,2,29,63,32,Sandy,Millets,24,12,16,17-17-17
3,3,35,62,54,Sandy,Barley,39,12,4,10-26-26
4,4,35,58,43,Red,Paddy,37,2,16,DAP
...,...,...,...,...,...,...,...,...,...,...
749995,749995,25,69,30,Clayey,Maize,8,16,6,28-28
749996,749996,37,64,58,Loamy,Sugarcane,38,8,20,17-17-17
749997,749997,35,68,59,Sandy,Ground Nuts,6,11,29,10-26-26
749998,749998,31,68,29,Red,Cotton,9,11,12,20-20
749999,749999,33,55,29,Loamy,Cotton,4,10,9,Urea

In [6]:
######
## Data preprocessing
######


## Describe data
train_df_description = describe_data(train_df)

## Sort data (Ensuring pd.get_dummies() gives consistent orders on train and test data.)
train_df = sort_columns(train_df)
test_df = sort_columns(test_df)

## Drop columns
cols_to_drop = ["id"]
train_df = drop_columns(train_df, cols_to_drop)
train_df

## Split labels from training data
train_feature_df = train_df.drop(columns=labels)
train_label_df = train_df[labels]

## Take the intersection of train and test features.
train_feature_df, test_df = intersect_train_test_columns(train_feature_df, test_df)

## Transform categorical features into one-hot encoding.
oh_encoder = build_onehot_encoder(train_feature_df)

train_encoded = pd.DataFrame(
    oh_encoder.transform(train_df),
    columns=oh_encoder.get_feature_names_out(),
    index=train_df.index
)
test_encoded = pd.DataFrame(
    oh_encoder.transform(test_df),
    columns=oh_encoder.get_feature_names_out(),
    index=test_df.index
)


# train_encoded = train_encoded.iloc[:200,]
# train_label_df = train_label_df.iloc[:200]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               750000 non-null  int64
 1   Temparature      750000 non-null  int64
 2   Humidity         750000 non-null  int64
 3   Moisture         750000 non-null  int64
 4   Soil Type        750000 non-null  object
 5   Crop Type        750000 non-null  object
 6   Nitrogen         750000 non-null  int64
 7   Potassium        750000 non-null  int64
 8   Phosphorous      750000 non-null  int64
 9   Fertilizer Name  750000 non-null  object
dtypes: int64(7), object(3)
memory usage: 57.2+ MB

====== df:

            id  Temparature  Humidity  Moisture Soil Type    Crop Type  \
0            0           37        70        36    Clayey    Sugarcane
1            1           27        69        65     Sandy      Millets
2            2           29        63        32     Sandy      Millets
3            3           35        62        54     Sandy       Barley
4            4           35        58        43       Red        Paddy
...        ...          ...       ...       ...       ...          ...
749995  749995           25        69        30    Clayey        Maize
749996  749996           37        64        58     Loamy    Sugarcane
749997  749997           35        68        59     Sandy  Ground Nuts
749998  749998           31        68        29       Red       Cotton
749999  749999           33        55        29     Loamy       Cotton

        Nitrogen  Potassium  Phosphorous Fertilizer Name
0             36          4            5           28-28
1             30          6           18           28-28
2             24         12           16        17-17-17
3             39         12            4        10-26-26
4             37          2           16             DAP
...          ...        ...          ...             ...
749995         8         16            6           28-28
749996        38          8           20        17-17-17
749997         6         11           29        10-26-26
749998         9         11           12           20-20
749999         4         10            9            Urea

[750000 rows x 10 columns]

====== describe:

                   id    Temparature       Humidity       Moisture Soil Type  \
count   750000.000000  750000.000000  750000.000000  750000.000000    750000
unique            NaN            NaN            NaN            NaN         5
top               NaN            NaN            NaN            NaN     Sandy
freq              NaN            NaN            NaN            NaN    156710
mean    374999.500000      31.503565      61.038912      45.184147       NaN
std     216506.495284       4.025574       6.647695      11.794594       NaN
min          0.000000      25.000000      50.000000      25.000000       NaN
25%     187499.750000      28.000000      55.000000      35.000000       NaN
50%     374999.500000      32.000000      61.000000      45.000000       NaN
75%     562499.250000      35.000000      67.000000      55.000000       NaN
max     749999.000000      38.000000      72.000000      65.000000       NaN

       Crop Type       Nitrogen      Potassium    Phosphorous Fertilizer Name
count     750000  750000.000000  750000.000000  750000.000000          750000
unique        11            NaN            NaN            NaN               7
top        Paddy            NaN            NaN            NaN        14-35-14
freq       85754            NaN            NaN            NaN          114436
mean         NaN      23.093808       9.478296      21.073227             NaN
std          NaN      11.216125       5.765622      12.346831             NaN
min          NaN       4.000000       0.000000       0.000000             NaN
25%          NaN      13.000000       4.000000      10.000000             NaN
50%          NaN      23.000000       9.000000      21.000000             NaN
75%          NaN      33.000000      14.000000      32.000000             NaN
max          NaN      42.000000      19.000000      42.000000             NaN

======info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               750000 non-null  int64
 1   Temparature      750000 non-null  int64
 2   Humidity         750000 non-null  int64
 3   Moisture         750000 non-null  int64
 4   Soil Type        750000 non-null  object
 5   Crop Type        750000 non-null  object
 6   Nitrogen         750000 non-null  int64
 7   Potassium        750000 non-null  int64
 8   Phosphorous      750000 non-null  int64
 9   Fertilizer Name  750000 non-null  object
dtypes: int64(7), object(3)
memory usage: 57.2+ MB
None

====== null_count:

id                 0
Temparature        0
Humidity           0
Moisture           0
Soil Type          0
Crop Type          0
Nitrogen           0
Potassium          0
Phosphorous        0
Fertilizer Name    0
dtype: int64

====== unique_count:

id                 750000
Temparature            14
Humidity               23
Moisture               41
Soil Type               5
Crop Type              11
Nitrogen               39
Potassium              20
Phosphorous            43
Fertilizer Name         7
dtype: int64

====== unique_ratio:

id                 1.000000
Temparature        0.000019
Humidity           0.000031
Moisture           0.000055
Soil Type          0.000007
Crop Type          0.000015
Nitrogen           0.000052
Potassium          0.000027
Phosphorous        0.000057
Fertilizer Name    0.000009
dtype: float64

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [7]:
train_label_df.values.ravel()

array(['28-28', '28-28', '17-17-17', ..., '10-26-26', '20-20', 'Urea'],
      dtype=object)

In [8]:
test_encoded

,cat__Crop Type_Barley,cat__Crop Type_Cotton,cat__Crop Type_Ground Nuts,cat__Crop Type_Maize,cat__Crop Type_Millets,cat__Crop Type_Oil seeds,cat__Crop Type_Paddy,cat__Crop Type_Pulses,cat__Crop Type_Sugarcane,cat__Crop Type_Tobacco,...,cat__Soil Type_Clayey,cat__Soil Type_Loamy,cat__Soil Type_Red,cat__Soil Type_Sandy,remainder__Humidity,remainder__Moisture,remainder__Nitrogen,remainder__Phosphorous,remainder__Potassium,remainder__Temparature
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,70.0,52.0,34.0,24.0,11.0,31.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,62.0,45.0,30.0,15.0,14.0,27.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,72.0,28.0,14.0,4.0,15.0,28.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,53.0,57.0,18.0,36.0,17.0,37.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,55.0,32.0,13.0,14.0,19.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,66.0,30.0,14.0,18.0,7.0,26.0
249996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,62.0,55.0,28.0,7.0,14.0,33.0
249997,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,53.0,64.0,28.0,27.0,11.0,36.0
249998,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,67.0,26.0,33.0,10.0,0.0,36.0
249999,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,63.0,36.0,29.0,13.0,2.0,35.0

In [9]:
######
## Train models with cross_val_score()
######
rf_params = {
    "n_estimators": 200,
    "criterion": "gini",
    "max_depth": None,
    "min_samples_split": 2,
    "min_samples_leaf": 5,
    "random_state": 42,
    "max_features": "sqrt",
    "n_jobs": -1
}

rf = RandomForestClassifier(**rf_params)

cv_scores = cross_val_score(rf, train_encoded, train_label_df.values.ravel(), cv=10, scoring='accuracy') # Train cv times of model.
print(cv_scores)
rf.fit(train_encoded, train_label_df.values.ravel())  # Train on the whole training set as the final model.

[0.17526667 0.17496    0.17772    0.17654667 0.17537333 0.17577333
 0.17616    0.17721333 0.17566667 0.17568   ]

RandomForestClassifier(min_samples_leaf=5, n_estimators=200, n_jobs=-1,
                       random_state=42)

In [10]:
# ######
# ## Train models with KFold()
# ######

# kf = KFold(n_splits=10, shuffle=True, random_state=42)
# rf = RandomForestClassifier(n_estimators=100, max_features='sqrt', random_state=42)

# fold = 1
# for train_index, val_index in kf.split(train_encoded):
#     X_train, X_val = train_encoded.iloc[train_index], train_encoded.iloc[val_index]
#     y_train, y_val = train_label_df.values.ravel()[train_index], train_label_df.values.ravel()[val_index]
    
#     rf.fit(X_train, y_train)
#     preds = rf.predict(X_val)
#     acc = accuracy_score(y_val, preds)
    
#     print(f"Fold {fold} Accuracy: {acc:.4f}")
#     fold += 1

In [11]:
# test_predict = rf.predict(test_encoded)
# print(test_predict)
probs = rf.predict_proba(test_encoded)
top5_predict = np.argsort(probs, axis=1)[:, -5:][:, ::-1]
submission = pd.DataFrame({
    'id': test_df_src['id'].values,
})
submission["Fertilizer Name"] = [
    " ".join(rf.classes_[row]) for row in top5_predict
]


submission.to_csv('submission.csv', index=False)

print(submission)

            id                         Fertilizer Name
0       750000        17-17-17 28-28 DAP Urea 10-26-26
1       750001      17-17-17 Urea 20-20 14-35-14 28-28
2       750002       28-28 20-20 DAP 10-26-26 14-35-14
3       750003     Urea 17-17-17 14-35-14 DAP 10-26-26
4       750004      20-20 10-26-26 17-17-17 28-28 Urea
...        ...                                     ...
249995  999995      10-26-26 17-17-17 20-20 Urea 28-28
249996  999996        10-26-26 Urea 14-35-14 DAP 20-20
249997  999997     10-26-26 17-17-17 Urea 14-35-14 DAP
249998  999998    17-17-17 DAP 14-35-14 10-26-26 28-28
249999  999999  14-35-14 17-17-17 20-20 10-26-26 28-28

[250000 rows x 2 columns]

In [12]:
submission

            id                         Fertilizer Name
0       750000        17-17-17 28-28 DAP Urea 10-26-26
1       750001      17-17-17 Urea 20-20 14-35-14 28-28
2       750002       28-28 20-20 DAP 10-26-26 14-35-14
3       750003     Urea 17-17-17 14-35-14 DAP 10-26-26
4       750004      20-20 10-26-26 17-17-17 28-28 Urea
...        ...                                     ...
249995  999995      10-26-26 17-17-17 20-20 Urea 28-28
249996  999996        10-26-26 Urea 14-35-14 DAP 20-20
249997  999997     10-26-26 17-17-17 Urea 14-35-14 DAP
249998  999998    17-17-17 DAP 14-35-14 10-26-26 28-28
249999  999999  14-35-14 17-17-17 20-20 10-26-26 28-28

[250000 rows x 2 columns]